<!-- Footer -->
<hr>
<footer class="page-footer font-small indigo pt-4">

    <!-- Footer Text -->
    <div class="container text-center text-md-left">
      <h5>Affiliated HMO</h5>
      <div class="row d-flexd-flex justify-content-center">
            <div class="col-md-2 col-sm-4 mt-3">
                    <mdb-card >
                        <!--Card image-->
                        <mdb-card-img src="../../assets/img/HMO/generali.jpg" alt="generali"></mdb-card-img>
                    </mdb-card>
                </div>
          <div class="col-md-2 col-sm-4 mt-3">
                <mdb-card >
                    <!--Card image-->
                    <mdb-card-img src="../../assets/img/HMO/philcare.jpg" alt="philcare"></mdb-card-img>
                </mdb-card>
          </div>
          <div class="col-md-2 col-sm-4 mt-3">
                <mdb-card >
                    <!--Card image-->
                    <mdb-card-img src="../../assets/img/HMO/cocolife.jpg" alt="cocolife"></mdb-card-img>
                </mdb-card>
          </div>
          <div class="col-md-2 col-sm-4 mt-3">
                <mdb-card >
                    <!--Card image-->
                    <mdb-card-img src="../../assets/img/HMO/intellicare.jpg" alt="intellicare"></mdb-card-img>
                </mdb-card>
          </div>
          <div class="col-md-2 col-sm-4 mt-3">
                <mdb-card >
                    <!--Card image-->
                    <mdb-card-img src="../../assets/img/HMO/maxicare.jpg" alt="maxicare"></mdb-card-img>
                </mdb-card>
          </div>
          <div class="col-md-2 col-sm-4 mt-3">
                <mdb-card >
                    <!--Card image-->
                    <mdb-card-img src="../../assets/img/HMO/lacsonandlacson.png" alt="lacsonandlacson"></mdb-card-img>
                </mdb-card>
          </div>
          <div class="col-md-2 col-sm-4 mt-3">
                <mdb-card >
                    <!--Card image-->
                    <mdb-card-img src="../../assets/img/HMO/hmi.jpg" alt="hmi"></mdb-card-img>
                </mdb-card>
          </div>
          <div class="col-md-2 col-sm-4 mt-3">
                <mdb-card >
                    <!--Card image-->
                    <mdb-card-img src="../../assets/img/HMO/avega.png" alt="avega"></mdb-card-img>
                </mdb-card>
              </div>
          <div class="col-md-2 col-sm-4 mt-3">
                <mdb-card >
                    <!--Card image-->
                    <mdb-card-img src="../../assets/img/HMO/medicard.jpg" alt="medicard"></mdb-card-img>
                </mdb-card>
          </div>


      </div>

      <!-- Grid row -->

    <!-- Footer Text -->
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 mt-4">© 2019 Copyright:
      <a href="/"> Cebu Specialists Ambulatory Care Center, Inc.</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->