<div class="container">
    <h1 class="text-center">Cebu Specialists Ambulatory Care Center, Inc</h1>
    <div class="row">
        <div class="col-md-6">
            <h3>History</h3>
            <p>
                The center was blessed on October 25, 2016 and conducted free clinic, CBS, ECG and consultation.
            </p>
        </div>
        <div class="col-md-6">
            <h3>Mission</h3>
            <p>
                To operate ambulatory center that will cater to the need of the populace for health care, medical and diagnostic services on an out-patient basis as well as for the proper management of the services
            </p>
        </div>
    </div>
    <hr>
    <h3>Organizational Chart</h3>
    <div>
        <img src="../../assets/img/ORGANIZATIONAL CHART FINAL.jpg" alt="" class="org-chart">
    </div>
    
</div>
