<mdb-navbar *ngIf="loggingIn" SideClass="navbar navbar-expand-lg navbar-dark indigo" [containerInside]="true">
    <mdb-navbar-brand>
      <a class="logo navbar-brand" href="/">
        <span><img src="../../assets/img/csacc-logo.png" alt="company-logo" height="25px"></span>
        {{ title }}
      </a>
    </mdb-navbar-brand>

<!-- Collapsible content -->
<links>

  <!-- Links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item" [routerLinkActiveOptions]="{ exact: true  }" [routerLink]="['/']" [routerLinkActive]="['active']" (click)="checkRoute('/')">
          <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="home"></mdb-icon> Home</a>
        </li>
    <li class="nav-item" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/about']" [routerLinkActive]="['active']" (click)="checkRoute('/about')">
      <a class="nav-link waves-light"   mdbWavesEffect><mdb-icon fas icon="users"></mdb-icon> About Us</a>
    </li>
    <li class="nav-item" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/services']" [routerLinkActive]="['active']" (click)="checkRoute('/services')">
      <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="stethoscope"></mdb-icon> Services</a>
    </li>
    <li class="nav-item" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/login']" [routerLinkActive]="['active']" (click)="checkRoute('/login')">
      <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="user"></mdb-icon> Log In</a>
    </li>
  </ul>
  <!-- Links -->
</links>
<!-- Collapsible content -->

</mdb-navbar>

<div *ngIf="!loggingIn">
  <!--Navbar-->
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="true">
      <mdb-navbar-brand>
        <a class="logo navbar-brand" href="/">
          <span><img src="../../assets/img/csacc-logo.png" alt="company-logo" height="25px"></span>
          {{ title }}
        </a>
      </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" [routerLinkActiveOptions]="{ exact: true  }" [routerLink]="['/']" [routerLinkActive]="['active']" (click)="checkRoute('/')">
            <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="home"></mdb-icon> Home</a>
          </li>
      <li class="nav-item" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/about']" [routerLinkActive]="['active']" (click)="checkRoute('/about')">
        <a class="nav-link waves-light"   mdbWavesEffect><mdb-icon fas icon="users"></mdb-icon> About Us</a>
      </li>
      <li class="nav-item" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/services']" [routerLinkActive]="['active']" (click)="checkRoute('/services')">
        <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="stethoscope"></mdb-icon> Services</a>
      </li>
      <li class="nav-item" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/login']" [routerLinkActive]="['active']" (click)="checkRoute('/login')">
        <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="user"></mdb-icon> Log In</a>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

  </mdb-navbar>
  <!--/.Navbar-->

  <!--[Start] Carousel-->
  <div class="div-carousel">
  <mdb-carousel class="carousel slide carousel-inner carousel-fade" [animation]="'fade'">
    <mdb-carousel-item class="view">
        <img class="d-block w-100 h-100" src="../../assets/img/csacc.jpg" alt="First slide">
    </mdb-carousel-item>
  </mdb-carousel>
  </div>
  <!--[End] Carousel-->

  <hr>
</div>
