

<div class="d-flex justify-content-center mt-5">
<!-- Default form login -->
<form class="text-center border border-light p-5">
        <img src="../../assets/img/csacc-logo.png" alt="company-logo" height="50px">
        <p class="h4 mt-2 mb-4">Sign in</p>
      
        <!-- Email -->
        <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
      
        <!-- Password -->
        <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
      
      
        <!-- Sign in button -->
        <button mdbBtn color="indigo" block="true" class="my-4" type="submit">Sign in</button>
      
      
</form>
      <!-- Default form login -->
</div>
