/* You can add global styles to this file, and also import other style files */
.view {
    background-size: cover;
    height: 50vh;
}

.navbar {
    background-color: transparent;

}

.top-nav-collapse {
    background-color: #3f51b5;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #3f51b5;
  }