
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h1 class="mt-3">Welcome to <span style="color: #3f51b5">CSACC</span></h1>
            <h4 style="font-style: italic; color: red">"Your health is our priority!"</h4>
        </div>
        <div class="col-md-7 mt-3">
            <h5><b>What is CSACC?</b></h5>
            <p class="text-justify">
                <b style="color: #3f51b5">Cebu Specialists Ambulatory Care Center, Inc.</b> is a Health Care Facility in which we provide top quality healthcare services in a cheaper and efficient way.
                Ambulatory Care is a concept of providing an utmost medical services to patient.
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h3>Facilities</h3>
                </div>
                
                <div class="col-md-6 mt-2" style="cursor:pointer">
                    <mdb-card>
                        <div class="row">
                            <img src="../../assets/img/stet.jpg" alt="stet" width="100">
                            <p class="ml-3">Operating Rooms</p>
                        </div>
                    </mdb-card>
                </div>
                <div class="col-md-6 mt-2" style="cursor:pointer">
                    <mdb-card>
                        <div class="row">
                            <img src="../../assets/img/stet.jpg" alt="stet" width="100">
                            <p class="ml-3">Laboratories</p>
                        </div>
                    </mdb-card>
                </div>
                <div class="col-md-6 mt-2" style="cursor:pointer">
                    <mdb-card>
                        <div class="row">
                            <img src="../../assets/img/stet.jpg" alt="stet" width="100">
                            <p class="ml-3">Cytoscopy</p>
                        </div>
                    </mdb-card>
                </div>
                <div class="col-md-6 mt-2" style="cursor:pointer">
                    <mdb-card>
                        <div class="row">
                            <img src="../../assets/img/stet.jpg" alt="stet" width="100">
                            <p class="ml-3">Endoscopy</p>
                        </div>
                    </mdb-card>
                </div>
                <div class="col-md-6 mt-2" style="cursor:pointer">
                    <mdb-card>
                        <div class="row">
                            <img src="../../assets/img/stet.jpg" alt="stet" width="100">
                            <p class="ml-3">X-Ray</p>
                        </div>
                    </mdb-card>
                </div>
                <div class="col-md-6 mt-2" style="cursor:pointer">
                    <mdb-card>
                        <div class="row">
                            <img src="../../assets/img/stet.jpg" alt="stet" width="100">
                            <p class="ml-3">Pharmacy</p>
                        </div>
                    </mdb-card>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h3>Fields of Specialization</h3>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Family Practice</li>
                        <li>Pediatrics</li>
                        <li>Internal Medicine</li>
                        <li>Cardiology</li>
                        <li>Surgery</li>
                        <li>Orthopedics</li>
                    </ul>
                </div>
                <div class="col-md-6 mt-0">
                    <ul >
                        <li>Urology</li>
                        <li>OB-gyne</li>
                        <li>Anethesia</li>
                        <li>Gastroenterology</li>
                        <li>Nephrology</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>       
</div>

